* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carousel {
    display: flex;
}

.container-thumbs {
    width: 13%;
    display: flex;
    flex-direction: column;
}

.container-img img{
    width: 100%;
}


